
<h1>{{title}}</h1>
<form class="form-horizontal" *ngIf="!loggedIn">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Form Name</legend>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="username">Enter Email</label>  
    <div class="col-md-4">
    <input id="email" name="email" [(ngModel)]="email" type="text" placeholder="Enter Email" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="password">Enter Password</label>  
    <div class="col-md-4">
    <input id="password" name="password" [(ngModel)]="password"  type="password" placeholder="Enter Password" class="form-control input-md">
      
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for=""></label>
    <div class="col-md-4">
      <button type="submit" (click)="loginFrom()" class="btn btn-primary">Login</button>
    </div>
  </div>
  
  </fieldset>
  </form>
  

  <div  *ngIf="loggedIn">
      <h1>
        Welcome to Dashboard
      </h1>
  </div>